* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }


@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
body {
    background-image: url(./imagenes/background.jpg);
    background-size: 100% 1000% ;
    animation: 1s ease-out 0s 1 slideInFromBottom;
}

/*nav-bar color*/
.nav-container{
    background: rgba(255, 255, 255, 0.253);
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
    height: 80px;
}
  


.logo-btn{
    position: absolute;
    left: 0;
    top: 8px;
}

#Text1 {
    white-space: pre;
    position: absolute;
    left: 200px;
    top: 300px;
    
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 100%;
    /* or 60px */
    
    
    color: #4500a0;
}

#Text2{
    position: absolute;
    left: 10%;
    top: 420px;

    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 80%;
    /* identical to box height, or 21px */


    color: #480083;
}

#homebtn {
    position: absolute;
    left: 60vw;
    top: 40px;
    overflow-y: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 80%;
    /* or 14px */


    /* #EEEEEE */

    color: #000000;

 
}

#homebtn-side{
    display:none;
}


#web-btn{
    position: absolute;
    left: 80vw;
    /*left: 69.3vw;*/
    top: 40px;
    overflow-y: hidden;
    overflow-x: hidden;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 80%;
    /* or 14px */


    /* #EEEEEE */

    color: #000000;

    
}
#web-btn-side{
    display:none;
}

#button-box {
    position: absolute;
    display:none;
    width: 130px;
    height: 53px;
    left: 80vw;
    top: 25px;
    
    background: #94B3FD;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
}
#about-btn{
    position: absolute;
    left: 69.3vw;
    /*left: 90vw;*/
    top: 40px;

    overflow-y: hidden;
    overflow-x: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 80%;
    /* or 14px */


    color: #000000;  
}

#about-btn-side{
    display: none;
}

#side-bar-logo{
    display:none;
}

#contact-btn{
    position: absolute;
    left: 90vw;
    top: 40px;

    overflow-y: hidden;
    overflow-x: hidden;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 80%;
    /* or 14px */


    color: #000000;
}

#contact-btn-side {
    display:none;
}

#closebtn {
    display:none;
}

.nav-btn-menu{
    overflow: hidden;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 94vw;
    top: 5vh;
    display: none;
    cursor: default;

}

#search-btn {
    overflow: hidden;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 97vw;
    top: 6vh;
}

#side-bar-selector{
    display: none;
    position: absolute;
    width: 90%;
    height: 100px;
    left: 18px;
    border-radius: 5px;
    background: white;
}



.info-square {
    position: absolute;
    width: 80vw;
    height: 170px;
    left: 147px;
    top: 590px;
    
    background: #ffffff;
    box-shadow: inset 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

#p3 {
    position: absolute;
    left: 15px;
    top: 5px;

    font-family: monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 140.5%;
    /* or 28px */


    /* #142D3F */

    color: #142D3F;
}

#p4 {
    position: absolute;
    width: 80%;
    left: 15px;
    top: 60px;
    
    font-family: monospace;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    line-height: 150%;
    /* or 18px */
    
    
    /* #142D3F */
    
    color: #142D3F;
}

#p4-contact{
    text-decoration: none;
    font-family: monospace;
    color: #000000;
    font-weight: bolder;
    font-size: 20px;

    /*blue box begind  word*/
    background: #0084ff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.473);
    border-radius: 15px;
}

.blue-square {

    position: absolute;
    width: 151px;
    height: 190px;
    left: 80vw;
    top: 582px;
    
    background: #94DAFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#logo-img {
    position: absolute;
    top: -24%;
    left: -40%;
}

#blue-square-text1 {
    position: absolute;
    top: 70%;
    left: 22%;
    
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 80%;
    /* identical to box height, or 13px */
    
    text-align: center;
    letter-spacing: 1px;
    
    color: #FFFFFF;
}

#view-more {
    position: absolute;
    left: 23%;
    top: 80%;
    text-decoration: none;
    
    font-family: arial;
    font-style: bold;
    font-weight: 600;
    font-size: 10px;
    line-height: 80%;
    /* identical to box height, or 8px */
    
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #4D0F7E;
}
#little-bar{
    position: absolute;
    left: -4%;
    right: 1.41%;
    top: 82%;
    bottom: 3.89%;
}



@media (max-width: 1380px) {

    body {
        background-image: url(./imagenes/background.jpg);
        background-size: 100% 1000%;
        animation: 1s ease-out 0s 1 slideInFromBottom;
    }
    .nav-container{
        background: rgba(255, 255, 255, 0.14);
        box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.25);
        height: 80px;
    }
    #homebtn {
        display:none;
        position: absolute;
        top: 0;
        left: 0;
        
    }
    #web-btn {
        display:none;
        position: absolute;
        top: 0;
        left: 0;
        
    }
    #contact-btn {
        display:none;
        position: absolute;
        top: 0;
        left: 0;
        
    }
    #about-btn{
        display:none;
        top: 0;
        left: 0;
    }
    
    .nav-btn-menu{
        display: inherit;
        padding-right: 5px;
        cursor: pointer;
    }

    #Text1 {
        white-space: normal;
        position: absolute;
        top: 200px;
        left: 20;
        width: 500px;

    }
    #p3 {

        position: absolute;
        left: 15px;
        top: 5px;
    
        font-family: monospace;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 140.5%;
        /* or 28px */
    
    
        /* #142D3F */
    
        color: #142D3F;
    }

    #p4 {
        width: 500px;
    }

    .info-square{
        height: 290px;
    }
    #logo-img {
        position: absolute;
        top: 0%;
        left: -40%;
    }
    #button-box {
        display:none;
    }

    .side-nav-container {
        height: 100%;
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        right: 0;
        background-color: rgb(99, 0, 212);
        overflow-x: hidden; 
        padding-top: 60px;
        transition: 0.5s;
    }
    
    .side-nav-container a {
        padding: 50px 2px 15px 32px;
        border-radius: 10px;
        border-color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 25px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        
    }
    
    #homebtn-side{
        height: 3px;
        position: absolute;
        left: 25%;
    }

    #about-btn-side{
        height: 3px;
        position: absolute;
        top: 20%;
        left: 19%;
    }

    #web-btn-side{
        height: 3px;
        position: absolute;
        top: 32%;
        left: 21%;

    }

    #contact-btn-side{
        height: 3px;
        position: absolute;
        top: 44%;
        left: 18%;
    }

    #side-bar-logo{
        position: absolute;
        top: 57%;
        
    }
    
    .side-nav-container a:hover{
        color: #000000;
    }
    
    #closebtn {
        position: absolute;
        top: -30px;
        right: 25px;
        font-size: 36px;
        background: none;
    }

    #p4{
        padding-top: 50px;
    }

    .blue-square{
        height: 310px
    }

    
}
